<template>
<div style="padding-bottom: 1rem;">
  <div class="is-size-6 has-text-weight-normal"
       v-html="nl2br(post)">
  </div>
  <div class="is-size-7">
    <span class="has-text-weight-normal"
          v-if="res_number">
      #{{ res_number }}
    </span>
    <span class="has-text-weight-semibold">
      {{ name }}
    </span> 
    <time class="has-text-weight-light">
      {{ dateFormat(create_date) }}
    </time>
  </div>
</div>
</template>

<script>
import moment from 'moment'

export default {
    props: [
        'name',
        'post',
        'create_date',
        'res_number'
    ],
    data: function() {
        return {
        }
    },
    methods: {
        dateFormat: function(date) {
            return moment(date).format('YYYY-MM-DD dddd HH:mm:ss')
        },
        nl2br: function(text) {
            if(text) {
                text = text.replace(
                        /((https?|ftp)(:\/\/[-_.!~*\'()a-zA-Z0-9;\/?:\@&=+\$,%#]+))/gi,
                    function (all, url, normal) {
                        if (url) {
                            var youtubeCheck = /youtu/.test(url)
                            var channelCheck = /channel/.test(url)
                            var videoId = /[/?=]([-\w]{11})/.exec(url)
                            if (youtubeCheck && videoId && !channelCheck) {
                                return '<iframe src="https://www.youtube.com/embed/' + videoId[1] + '?rel=0" frameborder="0" allowfullscreen></iframe>'
                            } else {
                                return '<a href="' + url + '" target="_blank" style="color: rgba(0,0,0,.75);">' + url + '</a>'
                            }
                        } else {
                            return normal;
                        }
                    }
                )
                text = text.replace(/\n/g, '<br>')
                text = text.replace(/(\*[a-zA-Z0-9]+)/g,
                       '<a href="./index.html#/search/$1" style="color: rgba(0,0,0,.75)">$1</a>')
            return text
        }
        }
        }
}
</script>

<style>
</style>
