<template>
<section class="hero is-fullheight is-light">
  <div class="hero-body has-backgroung-light has-text-centered">
    <div class="container">
      <h1 class="title">
        <router-link to="./board/">
          pripa2
        </router-link>
      </h1>
      <h2 class="subtitle">
        Project: rest in peace, Amezo<br/>
        - second season -
      </h2>
    </div>
  </div>
</section>
</template>

<script>
</script>

<style>
</style>
