<template>
<div class="columns is-gapless has-background-white">
  <div class="column is-3">
    <aside class="menu has-background-grey-lighter">
      <p class="menu-label">
        link
      </p>
      <ul class="menu-list">
        <li>
          <router-link to="../board"
                       class="is-size-6 has-text-weight-light">
            Board View
          </router-link>
        </li>
      </ul>
      <p class="menu-label">
        Thread list
      </p>
      <ul class="menu-list">
        <li v-for="threadName in allThreadNames"
            :key="threadName.id">
          <router-link :to="'../thread/' + threadName.id"
                       class="is-size-6 has-text-weight-light">
            {{ threadName.title }}
          </router-link>
        </li>
      </ul>
    </aside>
  </div>  
  <div class="column">
    <div class="card has-background-white-bis">
      <p class="card-header-title">
        {{ thread.title }}
      </p>
      <div class="card-content">
        <article-element :name="thread.name"
                         :post="thread.post"
                         :create_date="thread.create_date">
        </article-element>
        <article-element v-for="article in articles"
                         :key="article.id"
                         :name="article.name"
                         :post="article.post"
                         :create_date="article.create_date"
                         :res_number="article.res_number">
        </article-element>
        <div class="field has-addons">
          <p class="control">
            <input class="input"
                   type="text"
                   placeholder="Name"
                   v-model="replyArticleName">
          </p>
          <p class="control">
            <button class="button"
                    @click="replyPost">
              Reply
            </button>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <textarea class="textarea"
                      placeholder="Text"
                      v-model="replyArticleText">
            </textarea>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import articleElement from './article-element.vue'

export default {
    components: {
        articleElement
    },
    data: function() {
        return {
            allThreadNames: [],
            threadId: 0,
            thread: [],
            articles: [],
            replyArticleName: '',
            replyArticleText: ''
        }
    },
    computed: {
        urlParams: function() {
            return this.$route.params.id
        }
    },
    methods: {
        dateFormat: function(date) {
            return moment(date).format('YYYY-MM-DD dddd HH:mm:ss')
        },
        threadListLoad: function() {
            self = this

            axios.get('./threads/all')
                .then(function(response) {
                    self.allThreadNames = JSON.parse(response.data)
                })
        },
        singleThreadLoad: function() {
            self = this

            axios.get('./threads/id/' + this.threadId)
                .then(function(response) {
                    self.thread = JSON.parse(response.data)
                })
        },
        articlesLoad: function() {
            self = this

            axios.get('./articles/' + this.threadId)
                .then(function(response) {
                    self.articles = JSON.parse(response.data)
                })
        },
        replyPost: function() {
            self = this
            const name = this.replyArticleName
            const post = this.replyArticleText

            axios.post('./articles/' + this.threadId, {
                name: name,
                post: post
            }).then((response) => {
                self.replyArticleName = ''
                self.replyArticleText = ''
                self.articlesLoad()
                self.threadListLoad()
            }).catch((e) => {
                console.log(e)
            })
        }
    },
    watch: {
        urlParams: function() {
            this.threadId = this.urlParams
            this.singleThreadLoad()
            this.articlesLoad()
        }
    },
    mounted: function() {
        this.threadId = this.urlParams
        this.singleThreadLoad()
        this.articlesLoad()
        this.threadListLoad()
    }
}
</script>

<style scoped>
.menu {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 1px 1px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    
}
.card {
    margin: 1.5rem;
    box-shadow: 0 1px 1px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.card-header-title {
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.card-content {
    padding-top: 0;
}
</style>
