<template>
<div class="columns is-gapless has-background-white">
  <div class="column is-3">
    <aside class="menu has-background-grey-lighter">
      <p class="menu-label">
        link
      </p>
      <ul class="menu-list">
        <li>
          <router-link to="../"
                       class="is-size-6 has-text-weight-light">
            Top Page
          </router-link>
        </li>
      </ul>
      <p class="menu-label">
        Thread list
      </p>
      <ul class="menu-list">
        <li v-for="threadName in allThreadNames"
            :key="threadName.id">
          <router-link :to="'../thread/' + threadName.id"
                       class="is-size-6 has-text-weight-light">
            {{ threadName.title }}
          </router-link>
        </li>
      </ul>
    </aside>
  </div>  
  <div class="column">
    <div class="section"
         style="padding-top: 1rem; padding-bottom: 0;">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input"
                 type="text"
                 placeholder="Title"
                 v-model="newThreadTitle">
        </p>
        <p class="control">
          <input class="input"
                 type="text"
                 placeholder="Name"
                 v-model="newThreadName">
        </p>
        <p class="control">
          <button class="button" @click="threadCreate">
            Make a new thread
          </button>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <textarea class="textarea"
                    placeholder="Text"
                    v-model="newThreadText">
          </textarea>
        </p>
      </div>
    </div>
    <div class="card has-background-white-bis"
         v-for="thread in threads"
         :key="thread.id">
      <p class="card-header-title">
        <router-link :to="'../thread/' + thread.id">
          {{ thread.title }}
        </router-link>
      </p>
      <div class="card-content">
        <article-element :name="thread.name"
                         :post="thread.post"
                         :create_date="thread.create_date">
        </article-element>
        <article-element v-for="article in JSON.parse(thread.articles)"
                         :key="article.id"
                         :name="article.name"
                         :post="article.post"
                         :create_date="article.create_date"
                         :res_number="article.res_number">
        </article-element>
        <div class="field has-addons">
          <p class="control">
            <input class="input"
                   type="text"
                   placeholder="Name"
                   v-model="replyArticleName[thread.id]">
          </p>
          <p class="control">
            <button class="button"
                    @click="replyPost(thread.id)">
              Reply
            </button>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <textarea class="textarea"
                      placeholder="Text"
                      v-model="replyArticleText[thread.id]">
            </textarea>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import articleElement from './article-element.vue'

export default {
    components: {
        articleElement
    },
    data: function() {
        return {
            allThreadNames: [],
            threads: [],
            newThreadTitle: '',
            newThreadName: '',
            newThreadText: '',
            replyArticleName: {},
            replyArticleText: {}
        }
    },
    methods: {
        dateFormat: function(date) {
            return moment(date).format('YYYY-MM-DD dddd HH:mm:ss')
        },
        threadListLoad: function() {
            self = this

            axios.get('./threads/all')
                .then(function(response) {
                    self.allThreadNames = JSON.parse(response.data)
                })
        },
        threadLoad: function() {
            self = this

            axios.get('./threads/0/10')
                .then(function(response) {
                    self.threads = response.data
                })
        },
        threadCreate: function() {
            self = this

            axios.post('./threads', {
                title: self.newThreadTitle,
                name:  self.newThreadName,
                post:  self.newThreadText
            }).then(function(response) {
                self.threadLoad()
                self.threadListLoad()
                
                self.newThreadTitle = ''
                self.newThreadName = ''
                self.newThreadText = ''
            })
        },
        replyPost: function(threadId) {
            self = this
            const name = this.replyArticleName[threadId]
            const post = this.replyArticleText[threadId]

            axios.post('./articles/' + threadId, {
                name: name,
                post: post
            }).then((response) => {
                self.replyArticleName[threadId] = ''
                self.replyArticleText[threadId] = ''
                self.threadLoad()
                self.threadListLoad()
            }).catch((e) => {
                console.log(e)
            })
        }
    },
    mounted: function() {
        this.threadLoad()
        this.threadListLoad()
    }
}
</script>

<style scoped>
.menu {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 1px 1px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    
}
.card {
    margin: 1.5rem;
    box-shadow: 0 1px 1px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.card-header-title {
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.card-content {
    padding-top: 0;
}
</style>
